.App {
  margin: 0 auto;
  max-width: 400px;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  margin: 0;
  padding: 0;
  width: auto;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -1px;
}

input[type="checkbox"] {
  margin-right: 10px;
}
